/* General */
body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Merriweather', Helvetica, sans-serif;
}

h1 {
    text-transform: uppercase;
    color: white;
    background-color: rgb(2, 2, 46);
    padding: 20px;
    font-size: 1em;
    text-align: center;
}

fieldset {
    border: none;
    margin-bottom: 30px;
}

legend {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(2, 2, 46);
}

label {
    display: block;
    margin-bottom: 8px;
    color: rgb(138, 130, 130);
    font-weight: 400;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    border-radius: 2%;
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    padding: 15px;
    width: 90%;
    background-color: #f3f3f3;
    color: rgb(138, 130, 130);
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    transition: 2s;
}

select {
    width: 95%;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0 4px 8px 0;
  display: inline;
  box-shadow: 0 2px 1px rgba(0,0,0,0.03) inset;
}

button {
    padding: 19px 39px 18px 39px;
    color: white;
    background-color: rgb(32, 166, 219);
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid rgb(32, 166, 219);
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
  }

::placeholder {
    opacity: 60%;
    font-style: italic;
    text-align: right;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 2px solid rgb(2, 2, 46);
    background-color: #e6e6e6;
}
/* form {
    > input[type="text"],
    > input[type="email"],
    > input[type="tel"] {
            &:valid {
            background: url(images/green-check-mark.jpg);
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: 20px 20px;
        }
    }
} */



/* Header */
header {
    text-align: center;
    border-bottom: rgb(2, 2, 46) solid 5px;
    width: 90%;
    margin: 0 auto;
}

header h2 {
    color: rgb(2, 2, 46);
}

header p {
    color: rgb(161, 157, 157);
    margin-bottom: 2em;
}

/* Main */
main {
    width: 90%;
    margin: 0 auto;
}
.contact {
    margin-top: 5px;
    border-top: rgb(2, 2, 46) solid 3px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.contact legend {
    padding: 30px 0 30px 0;
}

input[id="zip"] {
    width: 50%;
}

.news {
    margin-top: 5px;
    border-top: rgb(2, 2, 46) solid 3px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: #89a7b3;
}

.news div {
    padding-left: 10px;
}

.news legend {
    padding: 30px 0 15px 0;
}

.news label {
    display: inline;
}

.news p {
    color: rgb(138, 130, 130);
}

/* Footer */
.copyright {
    color: rgb(161, 157, 157);
    text-align: center;
    font-style: italic;
    margin-bottom: 10em;
}
:disabled {
    color: yellow;
}
/* Media Quries */
@media(min-width: 768px) {
    body {
        width: 75%;
        margin: 0 auto;
    }

    .container,
    .zip {
        display: flex;
        justify-content: space-between;
    }

    .container label {
        width: 50%;
    }

    .zip label {
        flex-basis: 40%;
    }
    .zip div {
        flex-basis: 40%;
    }
    .zip input {
        flex-basis: 33%;
    }

    .contact label,
    .news p,
    .news label {
        color: rgb(2, 2, 46); 
    }

    button {
        background-color: rgb(16, 219, 175);
        border: 1px solid rgb(16, 219, 175);
    }
}