/* General */
body {
    width: 50%;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    color: white;
    background-color: rgb(2, 2, 46);
    padding: 20px;
    font-size: 1em;
    text-align: center;
}

fieldset {
    border: none;
    margin-bottom: 30px;
}

legend {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(2, 2, 46);
}

label {
    display: block;
    margin-bottom: 8px;
    color: rgb(138, 130, 130);
    font-weight: 400;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    border-radius: 2%;
    border: none;
    font-size: 16px;
    font-style: italic;
    height: auto;
    margin: 0;
    padding: 15px;
    width: 100%;
    background-color: #f3f3f3;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }

::placeholder {
    opacity: 60%;
}

input[type="text"],
input[type="email"],
input[type="tel"]:focus {
    color:rgb(4, 4, 73)
}

/* Header */
header {
    text-align: center;
    border-bottom: rgb(2, 2, 46) solid 5px;
    margin: 0 auto;
    width: 90%;
}

header h2 {
    color: rgb(2, 2, 46);
}

header p {
    color: rgb(161, 157, 157);
    margin-bottom: 2em;
}

/* Main */
main {
    width: 90%;
    margin: 0 auto;
}
.contact {
    margin-top: 5px;
    border-top: rgb(2, 2, 46) solid 3px;
}

.contact legend {
    padding: 30px 0 30px 0;
    color: rgb(2, 2, 46);
}

input[id="name"],
input[id="email"]::placeholder {
    text-align: right;
}